.heroi {
position: absolute;
left: 200px;
top: 80px;
}

.heroiUl {
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.heroiLi {
list-style-type: none;
width: 180px;
height: 280px;
border: 2px solid greenyellow;
background-color: gray;
margin: 10px;
}

.heroiLiSelected {
list-style-type: none;
background-color: green;
width: 180px;
height: 280px;
margin: 10px;

}

.heroiImg {
width: 130px;
height: 200px;    
border: 2px solid greenyellow;
border-top: none;
}

.heroiH4 {
margin: 10px 0 0 0;
}

.heroiP {
margin: 10px 0 0 0;
}
