.sidenav {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 200px;
  flex-direction: column;
  position: fixed;
  background-color: Tomato;
}

.sidenavInput {
  position: absolute;
  top: 200px;
  text-align: center;
  left: 5px;
  width: 180px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.buttonDisabled {
  background-color: gray;
  width: 180px;
  position: absolute;
  left: 10px;
}

.buttonActive {
  background-color: #ee0e0e;
  color: white;
  width: 180px;
  position: absolute;
  left: 10px;
}

.searchInputContainer {
  position: absolute;
  top: 150px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 4px;
  left: 10px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.searchIcon {
  margin-right: 8px; 
  fill: #666; 
  width: 24px; 
  height: 24px;
}

.searchInput {
  border: none;
  flex: 1;
  outline: none;
  font-size: 16px;
  width: 140px;
}

.searchInput:focus {
  border: 1px solid #007bff;
}

.searchInput::placeholder {
  font-size: 14px;
}