.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heroi-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.heroi-li {
  list-style-type: none;
  width: 180px;
  height: 280px;
  border: 2px solid greenyellow;
  background-color: gray;
  margin: 10px;
}

.heroi-img {
  width: 130px;
  height: 200px;    
  border: 2px solid greenyellow;
  border-top: none;
}

.heroi-li-selected {
  background-color: green;
  width: 180px;
  height: 280px;
}

.heroi-h4 {
  margin: 10px 0 0 0;
}

.heroi-p {
  margin: 10px 0 0 0;
}